<a href="https://colab.research.google.com/github/MicaelLucasDT/Exercicios-de-programacao-/blob/main/AulaLista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lista de exemplo
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
#Verificar tamanho da lista -- ' len() '
len(num)

10

In [ ]:
num[0]

1

In [ ]:
#Outros tipos de listas com mais algumas funções.
alunos = ['Lucas', 'Samuel', 'Micael', 'Pedro', 'Alana', 'Maria', 'Vinícius']

In [ ]:
#Alterar informação na lista.
alunos[0] = 'Ivan'

In [33]:
alunos.append('Tavares')
alunos

['Lucas',
 'Samuel',
 'Micael',
 'Pedro',
 'Alana',
 'Maria',
 'Vinícius',
 'Tavares',
 'Tavares',
 'Tavares']

In [36]:
#Verificar existência de algumn termo na lista.
nome = input('Insira um nome: ')
if nome in alunos:
  print('O nome' , nome , 'já está adicionado!')
else: 
  print('O nome' , nome , 'não está adicionado!')

Insira um nome: Jubileu
O nome Jubileu não está adicionado!

In [38]:
#Criar uma lista com números de 1 a 15!

numeros = []
for num in range(15):
  numeros.append(num)
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [41]:
#Imprimir o dobro os valores da lista "numeros".

dobro = []
for num in numeros: 
  dobro.append(num * 2)
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [46]:
#Imprimir apenas os valores pares da lista "numeros".

for num in numeros:
  if numeros[num]%2 == 0:
      print(numeros[num])

0
2
4
6
8
10
12
14